services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=123456789
    ports:
      - 5435:5432
    volumes:
      - pgdata:/var/lib/postgressql

  mongodb:
    image: mongo
    environment:
    - MONGO_INITDB_ROOT_USERNAME=root
    - MONGO_INITDB_ROOT_PASSWORD=mongopw
    ports:
      - 27017:27017
    volumes:
      - mongodata:/data/db



volumes:
  pgdata:
  mongodata: